In [35]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

In [3]:
CreditRisk =pd.read_csv('credit_risk_dataset.csv')
CreditRisk.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [4]:
CreditRisk.shape

(32581, 12)

In [5]:
CreditRiskCopy=  CreditRisk.copy()

In [16]:
cr_age_rmvd = CreditRisk[CreditRisk['person_age']<=70]
cr_age_rmvd.reset_index(drop = True, inplace = True)
cr_age_rmvd.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [17]:
person_emp_rmvd= cr_age_rmvd[cr_age_rmvd['person_emp_length']<47]
person_emp_rmvd.reset_index(drop = True, inplace = True)
person_emp_rmvd.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
1,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
2,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
3,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4
4,21,9900,OWN,2.0,VENTURE,A,2500,7.14,1,0.25,N,2

In [18]:
person_emp_rmvd.isnull().sum()

person_age                       0
person_income                    0
person_home_ownership            0
person_emp_length                0
loan_intent                      0
loan_grade                       0
loan_amnt                        0
loan_int_rate                 3045
loan_status                      0
loan_percent_income              0
cb_person_default_on_file        0
cb_person_cred_hist_length       0
dtype: int64

In [19]:
crData=person_emp_rmvd.copy()
crData.shape

(31671, 12)

In [20]:
crData.fillna({'loan_int_rate':crData['loan_int_rate'].median()},inplace = True)
crData.isnull().sum()

person_age                    0
person_income                 0
person_home_ownership         0
person_emp_length             0
loan_intent                   0
loan_grade                    0
loan_amnt                     0
loan_int_rate                 0
loan_status                   0
loan_percent_income           0
cb_person_default_on_file     0
cb_person_cred_hist_length    0
dtype: int64

In [21]:
crData.describe()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length
count,31671.000000,3.167100e+04,31671.000000,31671.000000,31671.000000,31671.000000,31671.000000,31671.000000
mean,27.717754,6.649231e+04,4.780714,9660.637492,11.035256,0.215497,0.169621,5.804395
std,6.159859,5.277413e+04,4.028718,6334.716643,3.070364,0.411173,0.106275,4.048776
min,20.000000,4.000000e+03,0.000000,500.000000,5.420000,0.000000,0.000000,2.000000
25%,23.000000,3.936600e+04,2.000000,5000.000000,8.490000,0.000000,0.090000,3.000000
50%,26.000000,5.600000e+04,4.000000,8000.000000,10.990000,0.000000,0.150000,4.000000
75%,30.000000,8.000000e+04,7.000000,12500.000000,13.160000,0.000000,0.230000,8.000000
max,70.000000,2.039784e+06,38.000000,35000.000000,23.220000,1.000000,0.830000,30.000000

In [22]:
crDataCopy =crData.drop('loan_grade', axis=1)
display(crDataCopy.shape)
crDataCopy.head()

(31671, 11)

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,21,9600,OWN,5.0,EDUCATION,1000,11.14,0,0.10,N,2
1,25,9600,MORTGAGE,1.0,MEDICAL,5500,12.87,1,0.57,N,3
2,23,65500,RENT,4.0,MEDICAL,35000,15.23,1,0.53,N,2
3,24,54400,RENT,8.0,MEDICAL,35000,14.27,1,0.55,Y,4
4,21,9900,OWN,2.0,VENTURE,2500,7.14,1,0.25,N,2

## Categorical Features Treament

In [55]:
crdataCat_tmnt = crDataCopy.copy()

In [56]:
person_home_ownership=pd.get_dummies (crdataCat_tmnt['person_home_ownership'],drop_first=True).astype(int)
loan_intent= pd.get_dummies (crdataCat_tmnt['loan_intent'],drop_first=True).astype(int)
crdataCat_tmnt ['cb_person_default_on_file_binary'] = np.where(crdataCat_tmnt['cb_person_default_on_file']=='Y',1,0)
crdataCat_tmnt.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,cb_person_default_on_file_binary
0,21,9600,OWN,5.0,EDUCATION,1000,11.14,0,0.10,N,2,0
1,25,9600,MORTGAGE,1.0,MEDICAL,5500,12.87,1,0.57,N,3,0
2,23,65500,RENT,4.0,MEDICAL,35000,15.23,1,0.53,N,2,0
3,24,54400,RENT,8.0,MEDICAL,35000,14.27,1,0.55,Y,4,1
4,21,9900,OWN,2.0,VENTURE,2500,7.14,1,0.25,N,2,0

In [57]:
Datascaling= crdataCat_tmnt.drop(['person_home_ownership','loan_intent','loan_status','cb_person_default_on_file','cb_person_default_on_file_binary'],axis =1)
Datascaling.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length
0,21,9600,5.0,1000,11.14,0.10,2
1,25,9600,1.0,5500,12.87,0.57,3
2,23,65500,4.0,35000,15.23,0.53,2
3,24,54400,8.0,35000,14.27,0.55,4
4,21,9900,2.0,2500,7.14,0.25,2

In [58]:
scaler= StandardScaler ()
scaledData = scaler.fit_transform(Datascaling)
scaled_df= pd.DataFrame(scaledData, columns = ['person_age', 'person_income', 'person_emp_length', 'loan_amnt',
       'loan_int_rate', 'loan_percent_income', 'cb_person_cred_hist_length'])
scaled_df.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length
0,-1.090587,-1.078051,0.054432,-1.367192,0.034115,-0.655113,-0.939656
1,-0.441211,-1.078051,-0.938456,-0.656810,0.597575,3.767461,-0.692664
2,-0.765899,-0.018803,-0.193790,4.000141,1.366226,3.391072,-0.939656
3,-0.603555,-0.229137,0.799097,4.000141,1.053554,3.579267,-0.445671
4,-1.090587,-1.072366,-0.690234,-1.130398,-1.268682,0.756347,-0.939656

In [61]:
scaled_data_combined = pd.concat([scaled_df,person_home_ownership,loan_intent],axis = 1)
scaled_data_combined['cb_person_default_on_file'] = crdataCat_tmnt['cb_person_default_on_file_binary']
scaled_data_combined['loan_status'] = crdataCat_tmnt['loan_status']
scaled_data_combined.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,OTHER,OWN,RENT,EDUCATION,HOMEIMPROVEMENT,MEDICAL,PERSONAL,VENTURE,cb_person_default_on_file,loan_status
0,-1.090587,-1.078051,0.054432,-1.367192,0.034115,-0.655113,-0.939656,0,1,0,1,0,0,0,0,0,0
1,-0.441211,-1.078051,-0.938456,-0.656810,0.597575,3.767461,-0.692664,0,0,0,0,0,1,0,0,0,1
2,-0.765899,-0.018803,-0.193790,4.000141,1.366226,3.391072,-0.939656,0,0,1,0,0,1,0,0,0,1
3,-0.603555,-0.229137,0.799097,4.000141,1.053554,3.579267,-0.445671,0,0,1,0,0,1,0,0,1,1
4,-1.090587,-1.072366,-0.690234,-1.130398,-1.268682,0.756347,-0.939656,0,1,0,0,0,0,0,1,0,1

In [62]:
target = scaled_data_combined['loan_status']
features = scaled_data_combined.drop('loan_status', axis = 1 )
features.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,OTHER,OWN,RENT,EDUCATION,HOMEIMPROVEMENT,MEDICAL,PERSONAL,VENTURE,cb_person_default_on_file
0,-1.090587,-1.078051,0.054432,-1.367192,0.034115,-0.655113,-0.939656,0,1,0,1,0,0,0,0,0
1,-0.441211,-1.078051,-0.938456,-0.656810,0.597575,3.767461,-0.692664,0,0,0,0,0,1,0,0,0
2,-0.765899,-0.018803,-0.193790,4.000141,1.366226,3.391072,-0.939656,0,0,1,0,0,1,0,0,0
3,-0.603555,-0.229137,0.799097,4.000141,1.053554,3.579267,-0.445671,0,0,1,0,0,1,0,0,1
4,-1.090587,-1.072366,-0.690234,-1.130398,-1.268682,0.756347,-0.939656,0,1,0,0,0,0,0,1,0

## SMOTE - Synthetic Minority Over-Sampling technique

In [76]:
from imblearn.over_sampling import SMOTE
smote= SMOTE()
balanced_features, balanced_target = smote.fit_resample(features, target)

In [77]:
balanced_target.shape# there is an increase because of oversampling of minority class, in our case the loan status of 1 , so it has created synthetic data for that class to balance

(49692,)

In [83]:
balanced_target_df = pd.DataFrame ({'target': balanced_target})
balanced_target_df.groupby('target').size()

target
0    24846
1    24846
dtype: int64

## Models Training

In [134]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, roc_curve, auc

In [135]:
x_train, x_test, y_train, y_test = train_test_split (balanced_features, balanced_target, test_size=0.20, random_state=42)
logit = LogisticRegression()
logit.fit(x_train, y_train)

LogisticRegression()

In [136]:
logit.score(x_train,y_train)

0.7810479712222977

In [137]:
logit_prediction = logit.predict(x_test)
print(classification_report(y_test, logit_prediction))
print(logit.coef_[0])

features_imp_logit = pd.DataFrame ({'features' :balanced_features.columns,'logit_imp' : logit.coef_[0]})
features_imp_logit.sort_values(by= 'logit_imp', ascending=False)

              precision    recall  f1-score   support

           0       0.79      0.78      0.78      4995
           1       0.78      0.78      0.78      4944

    accuracy                           0.78      9939
   macro avg       0.78      0.78      0.78      9939
weighted avg       0.78      0.78      0.78      9939

[-0.08550271  0.07494396 -0.04592369 -0.69140436  0.9862148   1.415249
  0.03759921 -0.79632282 -2.02790763  0.44422905 -1.21240014 -0.36894535
 -0.54665121 -1.03721117 -1.55879706  0.08894405]

                      features  logit_imp
5          loan_percent_income   1.415249
4                loan_int_rate   0.986215
9                         RENT   0.444229
15   cb_person_default_on_file   0.088944
1                person_income   0.074944
6   cb_person_cred_hist_length   0.037599
2            person_emp_length  -0.045924
0                   person_age  -0.085503
11             HOMEIMPROVEMENT  -0.368945
12                     MEDICAL  -0.546651
3                    loan_amnt  -0.691404
7                        OTHER  -0.796323
13                    PERSONAL  -1.037211
10                   EDUCATION  -1.212400
14                     VENTURE  -1.558797
8                          OWN  -2.027908

## RandomForest

In [93]:
rf= RandomForestClassifier ()
rf.fit (x_train, y_train)

RandomForestClassifier()

In [98]:
rf.score(x_train, y_train)

array([0, 0, 0, ..., 0, 0, 1], dtype=int64)

In [102]:
rf_prediction = rf.predict(x_test)
rf_prediction

array([0, 0, 0, ..., 0, 0, 1], dtype=int64)

In [101]:
print(classification_report(y_test,rf_prediction))

              precision    recall  f1-score   support

           0       0.91      0.97      0.94      4995
           1       0.96      0.91      0.93      4944

    accuracy                           0.94      9939
   macro avg       0.94      0.94      0.94      9939
weighted avg       0.94      0.94      0.94      9939

In [106]:
rf.feature_importances_

array([0.06098281, 0.14803513, 0.0753103 , 0.0800847 , 0.20835298,
       0.20741389, 0.05890322, 0.00046627, 0.02081382, 0.04819189,
       0.01556343, 0.01645744, 0.00901046, 0.01315995, 0.01785702,
       0.01939671])

In [108]:
features_imp_rf = pd.DataFrame ({'features' :balanced_features.columns,'rf_imp' : rf.feature_importances_})

## XGboost

In [110]:
xgb_model = XGBClassifier(tree_method = 'exact')

In [115]:
#model.fit(x,y.values,ravel())
xgb_model.fit(x_train,y_train.values.ravel())

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=None, n_jobs=None,
              num_parallel_tree=None, random_state=None, ...)

In [117]:
xgb_model.score(x_train,y_train.values.ravel())

0.9657132795009181

In [119]:
xgb_prediction = xgb_model.predict(x_test)
xgb_prediction

array([0, 0, 0, ..., 0, 0, 1])

In [120]:
print(classification_report(y_test, xgb_prediction))

              precision    recall  f1-score   support

           0       0.92      0.98      0.95      4995
           1       0.98      0.91      0.95      4944

    accuracy                           0.95      9939
   macro avg       0.95      0.95      0.95      9939
weighted avg       0.95      0.95      0.95      9939

In [125]:
features_imp_xgb = pd.DataFrame ({'features' :balanced_features.columns,'xgb_imp' : xgb_model.feature_importances_})
features_imp_xgb.sort_values(by= 'xgb_imp', ascending=False)

                      features   xgb_imp
8                          OWN  0.182017
5          loan_percent_income  0.134129
9                         RENT  0.111234
14                     VENTURE  0.089151
4                loan_int_rate  0.072785
10                   EDUCATION  0.064668
11             HOMEIMPROVEMENT  0.062737
6   cb_person_cred_hist_length  0.062122
2            person_emp_length  0.056203
0                   person_age  0.039485
1                person_income  0.038714
13                    PERSONAL  0.035839
15   cb_person_default_on_file  0.019934
12                     MEDICAL  0.015707
3                    loan_amnt  0.011117
7                        OTHER  0.004158

In [127]:
features_imp=pd.concat([features_imp_logit,features_imp_rf,features_imp_xgb],axis=1)
features_imp

,features,logit_imp,features,rf_imp,features,xgb_imp
0,person_age,-0.085503,person_age,0.060983,person_age,0.039485
1,person_income,0.074944,person_income,0.148035,person_income,0.038714
2,person_emp_length,-0.045924,person_emp_length,0.075310,person_emp_length,0.056203
3,loan_amnt,-0.691404,loan_amnt,0.080085,loan_amnt,0.011117
4,loan_int_rate,0.986215,loan_int_rate,0.208353,loan_int_rate,0.072785
5,loan_percent_income,1.415249,loan_percent_income,0.207414,loan_percent_income,0.134129
6,cb_person_cred_hist_length,0.037599,cb_person_cred_hist_length,0.058903,cb_person_cred_hist_length,0.062122
7,OTHER,-0.796323,OTHER,0.000466,OTHER,0.004158
8,OWN,-2.027908,OWN,0.020814,OWN,0.182017
9,RENT,0.444229,RENT,0.048192,RENT,0.111234
10,EDUCATION,-1.212400,EDUCATION,0.015563,EDUCATION,0.064668
11,HOMEIMPROVEMENT,-0.368945,HOMEIMPROVEMENT,0.016457,HOMEIMPROVEMENT,0.062737
12,MEDICAL,-0.546651,MEDICAL,0.009010,MEDICAL,0.015707
13,PERSONAL,-1.037211,PERSONAL,0.013160,PERSONAL,0.035839
14,VENTURE,-1.558797,VENTURE,0.017857,VENTURE,0.089151
15,cb_person_default_on_file,0.088944,cb_person_default_on_file,0.019397,cb_person_default_on_file,0.019934

## Model Comparison

In [3]:
logit_accuracy = accuracy_score(y_test, logit_prediction)
logit_fscore = f1_score(y_test, logit_prediction)
logit_recall = recall_score(y_test, logit_prediction)
logit_precision = precision_score(y_test, logit_prediction)
logit_confusion = confusion_matrix(y_test, logit_prediction)


rf_accuracy = accuracy_score(y_test, rf_prediction)
rf_fscore = f1_score(y_test, rf_prediction)
rf_recall = recall_score(y_test, rf_prediction)
rf_precision = precision_score(y_test, rf_prediction)
rf_confusion = confusion_matrix(y_test, rf_prediction)

xgb_model_accuracy = accuracy_score(y_test, xgb_prediction)
xgb_model_fscore = f1_score(y_test, xgb_prediction)
xgb_model_recall = recall_score(y_test, xgb_prediction)
xgb_model_precision = precision_score(y_test, xgb_prediction)
xgb_model_confusion = confusion_matrix(y_test, xgb_prediction)

NameError: name 'accuracy_score' is not defined

In [2]:
data_comparison = [[logit_accuracy,logit_fscore,logit_recall,logit_precision],
                  [rf_accuracy,rf_fscore,rf_recall,rf_precision],
                  [xgb_model_accuracy,xgb_model_fscore,xgb_model_recall,xgb_model_precision]]

comparison = pd.DataFrame(data_comparison,index= ['Logistic regression','Random Forest','XGboost'],
                                 columns=['Accuracy','f1_score','Recall','Precision'])

NameError: name 'logit_accuracy' is not defined

In [1]:
print ('Model comparison, lr except ')
comparison

Model comparison, lr except

NameError: name 'comparison' is not defined